/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        HomeLayer: HomeLayer {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMELAYER";
            bindings = <&to>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB     &kp SQT        &kp COMMA   &kp PERIOD        &kp P       &kp Y             &kp F      &kp G       &kp C          &kp R       &kp L        &kp BSPC
&kp ESCAPE  &hm LCTRL A    &hm RALT O  &hm LEFT_SHIFT E  &hm LGUI U  &kp I             &kp D      &hm LGUI H  &hm RSHIFT T   &hm RALT N  &hm RCTRL S  &kp MINUS
&kp LCTRL   &kp SEMICOLON  &kp Q       &kp J             &kp K       &kp X             &kp B      &kp M       &kp W          &kp V       &kp Z        &kp ENTER
                                       &kp ESC           &mo 1       &kp LEFT_SHIFT    &kp SPACE  &mo 2       &kp BACKSPACE
            >;
        };

        symbols {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp NUMBER_1                &kp NUMBER_2        &kp NUMBER_3          &kp NUMBER_4        &kp N5          &kp NUMBER_6    &kp N7                     &kp N8                         &kp N9                     &kp N0           &kp NON_US_BACKSLASH
&trans  &hm LEFT_CONTROL LESS_THAN  &hm RIGHT_ALT PIPE  &hm LEFT_SHIFT EQUAL  &hm LEFT_GUI MINUS  &kp PLUS        &kp LEFT_BRACE  &hm LEFT_BRACKET LEFT_GUI  &hm RIGHT_SHIFT RIGHT_BRACKET  &hm RIGHT_ALT RIGHT_BRACE  &hm RCTRL SLASH  &kp EQUAL
&trans  &kp GRAVE                   &kp TILDE           &kp NON_US_BACKSLASH  &kp SLASH           &kp ASTERISK    &kp ASTERISK    &kp LEFT_PARENTHESIS       &kp RIGHT_PARENTHESIS          &kp NON_US_BACKSLASH       &to 3            &trans
                                                        &trans                &trans              &trans          &trans          &trans                     &trans
            >;
        };

        movementNumber {
            bindings = <
&trans  &kp F1    &kp F2        &kp F3     &kp F4        &kp F5       &kp F6          &kp F7        &kp F8        &kp F9        &kp F10  &trans
&trans  &kp LEFT  &kp UP_ARROW  &kp RIGHT  &kp RIGHT     &kp MINUS    &kp LEFT_ARROW  &kp UP_ARROW  &kp DOWN      &kp RIGHT     &kp END  &trans
&trans  &kp F1    &kp F11       &kp F12    &kp ASTERISK  &kp SLASH    &kp NUMBER_0    &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &to 3    &trans
                                &trans     &trans        &trans       &trans          &trans        &trans
            >;
        };

        function {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp F1        &kp F2        &kp F3        &kp F4                &kp F5                  &kp F7      &kp F8             &kp F10          &kp F11          &kp F12  &trans
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC    &kp C_MUTE  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp F6           &kp F7   &trans
&trans  &bt BT_SEL 3  &bt BT_SEL 4  &trans        &trans                &bt BT_CLR              &kp LEFT    &kp DOWN_ARROW     &kp UP_ARROW     &kp RIGHT_ARROW  &trans   &trans
                                    &kp LGUI      &to 0                 &trans                  &trans      &to 1              &kp RALT
            >;
        };
    };
};
